* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.pembayaran-container {
    margin: 35px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.produk-detail img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produk-detail h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.produk-detail p {
    font-size: 1.2em;
    color: #74c365;
    margin: 10px 0;
}

.produk-detail ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

.produk-detail li {
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .pembayaran-container {
        max-width: 90%;
        padding: 15px;
    }

    .produk-detail h2 {
        font-size: 1.2em;
    }

    .produk-detail p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .pembayaran-container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }
}
