* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif; /* Gaya font untuk seluruh halaman */
}
.navbar {
    display: flex; /* Menggunakan flexbox untuk layout */
    justify-content: space-between; /* Menyebar item di dalam navbar */
    align-items: center; /* Vertikal centering */
    background-color: #74c365; /* Warna latar belakang navbar */
    padding: 10px 20px; /* Jarak dalam navbar */
    /* background: #74c365; */
    scroll-behavior: smooth;
}
.navbar-brand {
    color: white; /* Warna teks untuk nama website */
    font-size: 1.5em; /* Ukuran font untuk nama website */
    font-family: "Playwrite GB S", cursive;
}
.navbar-menu {
    list-style: none; /* Menghapus simbol titik dari list */
    display: flex; /* Mengatur menu sebagai flex container */
}
.navbar-brand {
    color: white; /* Warna teks untuk nama website */
    font-size: 1.5em; /* Ukuran font untuk nama website */
}
.navbar-menu li {
    margin-left: 20px; /* Jarak antar item menu */
}
.navbar-menu a {
    color: white; /* Warna teks untuk item menu */
    text-decoration: none; /* Menghapus garis bawah dari tautan */
    padding: 8px 12px; /* Jarak dalam tautan */
    transition: background-color 0.3s; /* Efek transisi */
}
.navbar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Warna latar belakang saat hover */
    border-radius: 4px; /* Pojok membulat saat hover */
}

.pembayaran-container {
    margin: 35px 30px 10px 450px;
    max-width: 600px;
    /* margin: auto; */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.produk-detail img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produk-detail h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.produk-detail p {
    font-size: 1.2em;
    color: #74c365;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    background-color: #74c365;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a{
    color: white;
    text-decoration: none;

}

button:hover {
    background-color: #5a9a50;
}
